
.logo{                    /*Андрей Браун в лого*/
    float: left;
    color: #fff;
    font-size: 30px;
    line-height: 60px;
    padding-left: 390px;
    -webkit-animation: comming 2.5s;    /*анимация появления А. Б.*/
    -o-animation: comming 2.5s;
    animation: comming 2.5s;
}

@keyframes comming{
    0%{
        opacity: 0.01;
    }
    100%{
        opacity: 1;
    }
}
                                                            /*000*/
main{
    width: 100%;
    height: 100%;
}
.menu{
    float: left;
    padding-left: 430px;
}

.menu li{
    float: left;
    font-size: 16px;
    color: #fff;
    line-height: 60px;
    margin-right: 40px;
    text-transform: uppercase;    /*uppercase заглавные*/
    -webkit-animation: topmenu 0.6s ease forwards;
    -o-animation: topmenu 0.6s ease forwards;
    animation: topmenu 0.6s ease forwards;     /*анимация появления кнопок меню*/
    opacity: 0;
}

.menu li:nth-child(2){            /*последовательность появл. кнопок меню*/
    animation-delay: 0.4s;
}

.menu li:nth-child(3){
    animation-delay: 0.6s;
}

.menu li:nth-child(4){
    animation-delay: 0.8s;
}

.menu li:nth-child(5){
    animation-delay: 1s;
}

.menu li:nth-child(6){
    animation-delay: 1.2s;
}

@keyframes topmenu{   /*анимация появления кнопок меню*/
    0%{
        opacity: 0;
        margin-top: -20px;
    }
    100%{
        opacity: 1;
        margin-top: 0px;
    }
}

.menu li a:visited{ /*после посищения ссылки меню*/
    color: white;
}

.menu li a:hover{    /*наведение на ссылки меню*/
    transition: all 0.3s;
    color: #ea7800;
    transform: scale(1.1);
    display: inline-block;
}

.menu li a:active{    /*нажатие на ссылки меню*/
    transform: scale(1.2);
    color: gold;
    transition: all 0.1s;
}

.title__cntainer input{            /*imputs center*/
    transition: all 0s;
}

.title__cntainer input:hover{      /*imputs center*/  
    background: #344051;
    color: white;
}




animate__slideOutDown








.title__cntainer input:active{    /*imputs center*/
    transform: scale(1.06);
    transition: all 0.1s;
}
.main{
    width: 100%;
    height: 100%;
    background: url(../img/boy.png) 90% 100%/auto 85% no-repeat, url(../img/bg.jpg) center/cover no-repeat;
    
}

.title__cntainer{
    float: left;
    margin: 404px 0px 0px 432px;
    color: #2c384a;
    text-align: center;
    opacity: 0;
    -webkit-animation: HI 1.3s ease forwards;
    -o-animation: HI 1.3s ease forwards;
    animation: HI 1.3s ease forwards;
    -webkit-animation-delay: 0.6s;
    -o-animation-delay: 0.6s;
    animation-delay: 0.6s;
}

@keyframes HI{
    0%{
        opacity: 0;
        margin-left:  170px;
    }
    100%{
        opacity: 1;
        margin-left: 432px;
    }
}







animate__bounce

















