body{
    font-family: Arial, sans-serif;
}

nav{
    widows: 100%;
    height: 60px;
    background: #344051;
}

.logo{
    float: left;
    color: #fff;
    font-size: 28px;
    line-height: 60px;
    padding-left: 388px;
    
}

.menu{
    float: left;
    padding-left: 428px;
}

.menu li{
    float: left;
    font-size: 16px;
    color: #fff;
    line-height: 60px;
    margin-right: 40px;
    text-transform: uppercase;
    
}

.menu li a: visited{
    color: white;
    
}

.main{
    width: 100%;
    height: calc(100% - 60px);
    background: url(../img/boy.png) 90% 100%/auto 85% no-repeat , url(../img/bg.jpg) center/cover no-repeat;
    
}

.title__cntainer{
    float: left;
    margin: 404px 0px 0px 432px;
    color: #2c384a;
    text-align: center;
}

.title__cntainer h1{
    font-size: 55px;
    text-align: center;
    font-weight: bold;
}

.title__cntainer h4{
    color: #76828f;
    margin-top: 30px;
    font-size: 22px;
    
}

.title__cntainer input{           ------
    width: 96px;
    height: 40px;
    text-align: center;
    border: 2px solid #697784;
    background: none;
    border-radius: 5px;
    color: #697784;
    font-size: 13px;
    cursor: pointer;
    margin: 50px 24px 0px 24px;
    
}

.about_me_container h2{
    text-align: center;
    width: 100px;
    font-size: 23px;
    margin-left: 800px;
    margin: 40px auto;
    padding-bottom: 10px;
}

.about_me_container{
    width: 740px;
    margin: 0 auto;
} 

.about_me_container img{--------
    margin: 40px auto;
    display: block;
    margin: 35px auto;
} 

.about_me_container p{
    margin-top: 35px;
}

.about_me_container hr{
    height: 4px;
    border: none;
    background: #ea7800;
    width: 60px;
    margin: 0px auto;
}

.skills_containerimg{
    width: 100%;
    height: calc(100% - 300px);
    background: url(../img/bg2.jpg) 90% center/cover no-repeat;
    margin: 120px 10px 100px 10px;
}

.skills_container h2{
    text-align: center;
    width: 150px;
    font-size: 23px;
    margin: 80px auto;
    padding-bottom: 0px;
}

.skills_container hr{
    height: 4px;
    border: none;
    background: #ea7800;
    width: 60px;
    margin: 30px auto;
}



.skills_container{
    width: 950px;
    margin: 0px auto;

}

.skills_item{
    float: left;
    width: 232px;
    text-align: center;    
}

.clear{
    clear: left;
}

.keyses_container h2{
    text-align: center;
    width: 200px;
    font-size: 23px;
    margin: 60px auto;
    padding-bottom: 10px;
}

.keyses_container hr{
    height: 4px;
    border: none;
    background: #ea7800;
    width: 60px;
    margin: 0px auto;
}

.keyses_container img{
    
    margin: 40px auto;
    display: block;
    margin: 35px auto;
}

.keyses_container span p{
    margin: 20px;
    text-align: center;
}

.description_left{
    margin: 10px 250px 10px 270px;
    
}

.description_left h3{
    margin: 10px;
}

.description_left p{
    margin: 10px 0px 10px 10px;
}


.description_left a{
    margin: 10px 10px 10px 10px;
}


.description_right h3{
    text-align: left;
    margin: -148px 250px 10px 500px;
}

.description_right p{
    margin: 10px 250px 10px 500px;
}


.Cost_calculation{
    font-size: 23px;
   
}

.Cost_calculation_container{
    max-width: 50%;
    margin: 0px auto;
}

.Cost_calculation_container h2{
    text-align: center;
    width: 400px;
    font-size: 33px;
    margin: 160px auto;
    padding-bottom: 20px;
    height: 40px;
}



.Cost_calculation_container h3{
    text-align: left;
    width: 400px;
    font-size: 23px;
    margin: 10px auto 0px 0px;
    padding-bottom: 20px;
}

.mySelect{
    width: 100%;
    color: dimgrey;
    background: #efefef;
    height: 54px;    
}

.Cost_calculation_container hr{
    height: 3px;
    border: none;
    background: #d2d2d2;
    width: 858px;
    margin: 20px auto;
}

.statistics{
    width: 100%;
    height: calc(100% - 300px);
    background: url(../img/bg3.jpg) center/cover no-repeat;
    margin: 120px 0px 100px 0px; 
    
}

.statistics_container h2{
    text-align: center;
    width: 350px;
    font-size: 33px;
    margin: 40px auto;
    padding-bottom: 10px;
    font-weight: 800px;
    
}

.statistics_container hr{
    height: 4px;
    border: none;
    background: #ea7800;
    width: 60px;
    margin: -35px auto;
}

.statistics_item{
    
    margin: 150px 0px 100px 0px; 
    float: left;
    width: 232px;
    text-align: center;
}

.statistics_selekt{
    width: 950px;
    margin: 0px auto;
}

.statistics_item p{
    font-size: 20px;
    font-weight: 800;
    margin: 40px 250px 40px 100px;
    text-align: right;
}

.reviews{
    width: 100%;
    height: calc(100% - 300px);
    
}

.reviews_container{
    max-width: 50%;
    margin: 0px auto;
}

.reviews_container h2{
    text-align: center;
    width: 100px;
    font-size: 23px;
    margin-left: 800px;
    margin: 40px auto;
    padding-bottom: 10px;
}



.reviews_container hr{
    height: 4px;
    border: none;
    background: #ea7800;
    width: 60px;
    margin: 0px auto;
}

.reviews_container img{
    margin: 40px auto;
    display: block;
    margin: 35px auto;
}

.reviews_container p{
    text-align: center;
    margin: 10px 0px 10px 10px;
}

.my_contact{
    width: 100% ;
    height: 810px;
    background: url(../img/bg4.jpg)  center/cover no-repeat;
    margin: 0px 0px 0px 0px; 
}

.my_contact_container h2{
    text-align: center;
    width: 320px;
    font-size: 30px;
    margin-left: 800px;
    margin: 40px auto 20px;
    padding-bottom: 30px;
    color: white;
}

.my_contact_container hr{
    height: 4px;
    border: none;
    background: #ea7800;
    width: 60px;
    margin: -10px auto;
}

.my_contact_container_p2{
    text-align: center;
    width: 620px;
    font-size: 13px;
    margin-left: 800px;
    margin: 30px auto;
    padding-bottom: 10px;
    color: white;
}

.my_contact_item{
    width: 950px;
    margin: 0px auto;
}


.my_contact_data{
    float: left;
    width: 315px;
    text-align: center;
    color: white;
    margin: 30px auto;
}

.clear2{                                --------
    clear: left;
}

.my_contact_container h3{
    text-align: center;
    width: 320px;
    font-size: 18px;
    margin-left: 800px;
    margin: 40px auto;
    padding-bottom: 10px;
    color: white;
}

.contacts_inputs{
    text-align: center;
    width: 820px;
    font-size: 8px;
    
    margin: -40px auto;
    padding-bottom: 20px;
}

.contacts_inputs2{
    color: bisque;
    font-size: 22px;
    margin: 50px 24px 0px 24px;
}

.textarea{
    text-align: left;
    width: 590px;
    font-size: 16px;
    margin: 30px 570px;
    padding-bottom: 20px;
}



.contacts_inputs3{
    width: 96px;
    height: 40px;
    text-align: center;
    border: 2px solid #f9fbff;
    background: none;
    border-radius: 5px;
    color: #f9fbff;
    font-size: 13px;
    cursor: pointer;
    margin: -10px 666px 0px 817px;
}

.contacts_social{
    margin: 80px 666px 80px 785px;
}

.contacts_social img{
    height:100%

}


.map{
    height: 355px;
    background: url(../img/map.png) 100% center/cover no-repeat;
    
}



.footer{
    widows: 100%;
    height: 95px;
    background: #344051;
    margin: -4px;
}



.footer_container{
    
    color: aliceblue;
    text-align: center;
    font-size: 13px;
    line-height: 100px;
}